src/schemas/epcis20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    EPC Information Services (EPCIS) Version 2.0 Schema
    
    This is a simplified version of the XSD for demonstration purposes.
    In a real implementation, you would use the official GS1 EPCIS 2.0 XSD.
    
    Copyright (C) GS1 (2017-2021), All Rights Reserved.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:epcis="https://ref.gs1.org/standards/epcis/2.0.0/" 
            targetNamespace="https://ref.gs1.org/standards/epcis/2.0.0/" 
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified" 
            version="2.0">

    <!-- EPCIS Document (root element) -->
    <xsd:element name="EPCISDocument" type="epcis:EPCISDocumentType"/>
    
    <xsd:complexType name="EPCISDocumentType">
        <xsd:annotation>
            <xsd:documentation>EPCIS document root element type</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="EPCISHeader" type="epcis:EPCISHeaderType" minOccurs="0"/>
            <xsd:element name="EPCISBody" type="epcis:EPCISBodyType"/>
            <xsd:element name="extension" type="epcis:EPCISDocumentExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="schemaVersion" type="xsd:decimal" use="required" fixed="2.0"/>
        <xsd:attribute name="creationDate" type="xsd:dateTime" use="required"/>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <!-- EPCIS Header -->
    <xsd:complexType name="EPCISHeaderType">
        <xsd:sequence>
            <xsd:element name="extension" type="epcis:EPCISHeaderExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="EPCISHeaderExtensionType">
        <xsd:sequence>
            <xsd:element name="EPCISMasterData" type="epcis:EPCISMasterDataType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <!-- EPCIS Body -->
    <xsd:complexType name="EPCISBodyType">
        <xsd:sequence>
            <xsd:element name="EventList" type="epcis:EventListType" minOccurs="0"/>
            <xsd:element name="extension" type="epcis:EPCISBodyExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="EventListType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ObjectEvent" type="epcis:ObjectEventType"/>
            <xsd:element name="AggregationEvent" type="epcis:AggregationEventType"/>
            <xsd:element name="TransactionEvent" type="epcis:TransactionEventType"/>
            <xsd:element name="TransformationEvent" type="epcis:TransformationEventType"/>
            <xsd:element name="AssociationEvent" type="epcis:AssociationEventType"/>
            <xsd:element name="extension" type="epcis:EventListExtensionType"/>
            <xsd:any namespace="##other" processContents="lax"/>
        </xsd:choice>
    </xsd:complexType>
    
    <!-- Event Types -->
    <xsd:complexType name="ObjectEventType">
        <xsd:sequence>
            <xsd:element name="eventTime" type="xsd:dateTime"/>
            <xsd:element name="recordTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="eventTimeZoneOffset" type="xsd:string"/>
            <xsd:element name="epcList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epc" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="action" type="epcis:ActionType"/>
            <xsd:element name="bizStep" type="xsd:string" minOccurs="0"/>
            <xsd:element name="disposition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="readPoint" type="epcis:ReadPointType" minOccurs="0"/>
            <xsd:element name="bizLocation" type="epcis:BusinessLocationType" minOccurs="0"/>
            <xsd:element name="bizTransactionList" type="epcis:BusinessTransactionListType" minOccurs="0"/>
            <xsd:element name="persistentDisposition" type="epcis:PersistentDispositionType" minOccurs="0"/>
            <xsd:element name="sensorElementList" type="epcis:SensorElementListType" minOccurs="0"/>
            <xsd:element name="certificationInfo" type="epcis:CertificationInfoType" minOccurs="0"/>
            <xsd:element name="extension" type="epcis:ObjectEventExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:simpleType name="ActionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADD"/>
            <xsd:enumeration value="OBSERVE"/>
            <xsd:enumeration value="DELETE"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- Master Data Types -->
    <xsd:complexType name="EPCISMasterDataType">
        <xsd:sequence>
            <xsd:element name="VocabularyList" type="epcis:VocabularyListType" minOccurs="0"/>
            <xsd:element name="extension" type="epcis:EPCISMasterDataExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="VocabularyListType">
        <xsd:sequence>
            <xsd:element name="Vocabulary" type="epcis:VocabularyType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="extension" type="epcis:VocabularyListExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <!-- Extension Types (placeholders) -->
    <xsd:complexType name="EPCISDocumentExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="EPCISBodyExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="EPCISHeaderExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="EPCISMasterDataExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="EventListExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="VocabularyListExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="ObjectEventExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <!-- EPCIS 2.0 specific types -->
    <xsd:complexType name="AssociationEventType">
        <xsd:sequence>
            <xsd:element name="eventTime" type="xsd:dateTime"/>
            <xsd:element name="recordTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="eventTimeZoneOffset" type="xsd:string"/>
            <xsd:element name="parentID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="childEPCs" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epc" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="action" type="epcis:ActionType"/>
            <xsd:element name="bizStep" type="xsd:string" minOccurs="0"/>
            <xsd:element name="disposition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="readPoint" type="epcis:ReadPointType" minOccurs="0"/>
            <xsd:element name="bizLocation" type="epcis:BusinessLocationType" minOccurs="0"/>
            <xsd:element name="bizTransactionList" type="epcis:BusinessTransactionListType" minOccurs="0"/>
            <xsd:element name="persistentDisposition" type="epcis:PersistentDispositionType" minOccurs="0"/>
            <xsd:element name="sensorElementList" type="epcis:SensorElementListType" minOccurs="0"/>
            <xsd:element name="certificationInfo" type="epcis:CertificationInfoType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="PersistentDispositionType">
        <xsd:sequence>
            <xsd:element name="set" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="unset" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="SensorElementListType">
        <xsd:sequence>
            <xsd:element name="sensorElement" type="epcis:SensorElementType" maxOccurs="unbounded"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="SensorElementType">
        <xsd:sequence>
            <xsd:element name="sensorMetadata" type="epcis:SensorMetadataType" minOccurs="0"/>
            <xsd:element name="sensorReport" type="epcis:SensorReportType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="SensorMetadataType">
        <xsd:sequence>
            <xsd:element name="time" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="deviceID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="deviceMetadata" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rawData" type="xsd:string" minOccurs="0"/>
            <xsd:element name="startTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="endTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="dataProcessingMethod" type="xsd:string" minOccurs="0"/>
            <xsd:element name="bizRules" type="xsd:string" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="SensorReportType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="value" type="xsd:decimal" use="optional"/>
        <xsd:attribute name="component" type="xsd:string" use="optional"/>
        <xsd:attribute name="stringValue" type="xsd:string" use="optional"/>
        <xsd:attribute name="booleanValue" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="hexBinaryValue" type="xsd:hexBinary" use="optional"/>
        <xsd:attribute name="uriValue" type="xsd:anyURI" use="optional"/>
        <xsd:attribute name="deviceID" type="xsd:string" use="optional"/>
        <xsd:attribute name="deviceMetadata" type="xsd:string" use="optional"/>
        <xsd:attribute name="rawData" type="xsd:string" use="optional"/>
        <xsd:attribute name="time" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="microorganism" type="xsd:string" use="optional"/>
        <xsd:attribute name="chemicalSubstance" type="xsd:string" use="optional"/>
        <xsd:attribute name="coordinateReferenceSystem" type="xsd:string" use="optional"/>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="CertificationInfoType">
        <xsd:sequence>
            <xsd:element name="certification" type="epcis:CertificationType" maxOccurs="unbounded"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="CertificationType">
        <xsd:sequence>
            <xsd:element name="certificationStandard" type="xsd:string"/>
            <xsd:element name="certificationAgency" type="xsd:string"/>
            <xsd:element name="certificationValue" type="xsd:string"/>
            <xsd:element name="certificationIdentification" type="xsd:string" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <!-- Other types from EPCIS 1.2 (reused in 2.0) -->
    <xsd:complexType name="AggregationEventType">
        <xsd:sequence>
            <xsd:element name="eventTime" type="xsd:dateTime"/>
            <xsd:element name="recordTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="eventTimeZoneOffset" type="xsd:string"/>
            <xsd:element name="parentID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="childEPCs">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epc" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="action" type="epcis:ActionType"/>
            <xsd:element name="bizStep" type="xsd:string" minOccurs="0"/>
            <xsd:element name="disposition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="readPoint" type="epcis:ReadPointType" minOccurs="0"/>
            <xsd:element name="bizLocation" type="epcis:BusinessLocationType" minOccurs="0"/>
            <xsd:element name="bizTransactionList" type="epcis:BusinessTransactionListType" minOccurs="0"/>
            <xsd:element name="persistentDisposition" type="epcis:PersistentDispositionType" minOccurs="0"/>
            <xsd:element name="sensorElementList" type="epcis:SensorElementListType" minOccurs="0"/>
            <xsd:element name="certificationInfo" type="epcis:CertificationInfoType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="TransactionEventType">
        <xsd:sequence>
            <xsd:element name="eventTime" type="xsd:dateTime"/>
            <xsd:element name="recordTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="eventTimeZoneOffset" type="xsd:string"/>
            <xsd:element name="bizTransactionList" type="epcis:BusinessTransactionListType"/>
            <xsd:element name="epcList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epc" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="action" type="epcis:ActionType"/>
            <xsd:element name="bizStep" type="xsd:string" minOccurs="0"/>
            <xsd:element name="disposition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="readPoint" type="epcis:ReadPointType" minOccurs="0"/>
            <xsd:element name="bizLocation" type="epcis:BusinessLocationType" minOccurs="0"/>
            <xsd:element name="persistentDisposition" type="epcis:PersistentDispositionType" minOccurs="0"/>
            <xsd:element name="sensorElementList" type="epcis:SensorElementListType" minOccurs="0"/>
            <xsd:element name="certificationInfo" type="epcis:CertificationInfoType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="TransformationEventType">
        <xsd:sequence>
            <xsd:element name="eventTime" type="xsd:dateTime"/>
            <xsd:element name="recordTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="eventTimeZoneOffset" type="xsd:string"/>
            <xsd:element name="inputEPCList" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epc" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="outputEPCList" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="epc" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bizStep" type="xsd:string" minOccurs="0"/>
            <xsd:element name="disposition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="readPoint" type="epcis:ReadPointType" minOccurs="0"/>
            <xsd:element name="bizLocation" type="epcis:BusinessLocationType" minOccurs="0"/>
            <xsd:element name="bizTransactionList" type="epcis:BusinessTransactionListType" minOccurs="0"/>
            <xsd:element name="persistentDisposition" type="epcis:PersistentDispositionType" minOccurs="0"/>
            <xsd:element name="sensorElementList" type="epcis:SensorElementListType" minOccurs="0"/>
            <xsd:element name="certificationInfo" type="epcis:CertificationInfoType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="ReadPointType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="extension" type="epcis:ReadPointExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="BusinessLocationType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="extension" type="epcis:BusinessLocationExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="BusinessTransactionListType">
        <xsd:sequence>
            <xsd:element name="bizTransaction" type="epcis:BusinessTransactionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="BusinessTransactionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="ReadPointExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="BusinessLocationExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="VocabularyType">
        <xsd:sequence>
            <xsd:element name="VocabularyElement" type="epcis:VocabularyElementType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="extension" type="epcis:VocabularyExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="required"/>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="VocabularyElementType">
        <xsd:sequence>
            <xsd:element name="attribute" type="epcis:AttributeType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="children" type="epcis:IDListType" minOccurs="0"/>
            <xsd:element name="extension" type="epcis:VocabularyElementExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="AttributeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="required"/>
                <xsd:anyAttribute namespace="##other" processContents="lax"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="IDListType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="VocabularyElementExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:complexType name="VocabularyExtensionType">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>

</xsd:schema>
